* {
	color: #FFFFFF;
}

.wrapper {
	background: rgb(141,109,215);
	background: linear-gradient(0deg, rgba(141,109,215,1) 0%, rgba(104,68,191,1) 100%);
}

.footer {
	box-shadow: 10px 10px 15px 15px #462B83;
	background: #270672;
	text-shadow: 1px 1px 2px gray, 0 0 1em #462B83;
}

.mainBlock {      
	background-color: #7247D7;
	box-shadow: 15px 70px 70px 15px #452b8380;
}

.answer {
	background: #270672;
	box-shadow: 0px 10px 15px 0px #462B83;
	text-shadow: 1px 1px 2px gray, 0 0 1em #462B83;
}

input {
	background: #270672;
	box-shadow: 0px 10px 15px 0px #462B83;
	text-shadow: 1px 1px 2px gray, 0 0 1em #462B83;
}
input:hover {
	border: 4px solid white;
	background: #21055f;
}

button {
	background: #270672;
	box-shadow: 0px 10px 15px 0px #462B83;
	text-shadow: 1px 1px 2px gray, 0 0 1em #462B83;
}

button:hover {
	border: 4px solid white;
	background: #340897;
}