@font-face {
	font-family: MPLUSRounded1c-Bold;
	src: url(MPLUSRounded1c-Bold.ttf);
}

@font-face {
	font-family: MPLUSRounded1c-ExtraBold;
	src: url(MPLUSRounded1c-ExtraBold.ttf);
}

* {
	margin: 0;
	padding: 0;
	font-family: MPLUSRounded1c-Bold, sans-serif;
}

html,
body {
	height: 100%;
}

.wrapper {
	position: relative;
	width: 100%;
	min-height: 100%;
	margin: 0 auto;
}

.content {
	padding-bottom: 90px;
}

h1 {
	padding: 40px 20px 30px;
	text-align: center;
	font-size: 28pt;
	font-family: MPLUSRounded1c-ExtraBold;
}

h2 {
	padding: 20px 10px 15px;
	text-align: center;
	font-size: 22pt;
	font-family: MPLUSRounded1c-ExtraBold;
}

.mainPage {
	padding: 20px 10px 15px;
	text-align: center;
	font-size: 20pt;
	font-family: MPLUSRounded1c-ExtraBold;
}

p {
	padding: 10px 20px;
}

.footer {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	font-size: 16pt;
	padding-bottom: 20px;
	padding-top: 20px;
}

.mainBlock {
	box-sizing: border-box;
	padding: 60px;
	border-radius: 20px 20px 20px;
	width: 500px;
	height: auto;
	text-align: center;
	margin: 0 auto;
}

.mainBlock * {
	margin-top: 10px;
	margin-bottom: 10px;
	border: 4px solid transparent;
}

.answer {
	cursor: pointer;
	font-size: 16pt;
	text-transform: uppercase;
	padding: 10px;
	border-radius: 10px 10px 10px 10px;
	margin: 0 auto;
	width: 90%;
}

input {
	cursor: pointer;
	font-size: 16pt;
	text-transform: uppercase;
	padding: 10px;
	border-radius: 10px 10px 10px 10px;
	text-align: center;
	width: 90%;
}

input:hover {
	border: transparent;
}

button {
	cursor: pointer;
	font-size: 12pt;
	text-transform: uppercase;
	padding: 10px;
	border-radius: 10px 10px 10px 10px;
	text-align: center;
	width: 50%;
}

.pageButton {
	cursor: pointer;
	font-size: 12pt;
	text-transform: uppercase;
	border-radius: 30px 30px 30px 30px;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	width: 350px;
	height: 150px;
	background: #270672;
	box-shadow: 0px 10px 15px 0px #462B83;
	text-shadow: 1px 1px 2px gray, 0 0 1em #462B83;
	border: 4px solid transparent;
}

.pageButton:hover {
	border: 4px solid white;
	background: #340897;
}

.pages {
	width: 100%;
	text-align: center;
	margin: 40px auto;
}

.pagesTable {
	width: 100%;
	text-align: center;
	margin: 0 auto;
}

a {
	padding: 20px 10px 15px;
	text-align: center;
	font-size: 18pt;
	font-family: MPLUSRounded1c-ExtraBold;
	text-decoration-line: none;
}

.goToMainPage {
	display: block;
	margin: 0 auto;
	width: 150px;
	padding: 20px;
}

canvas {
	background: white;
	box-shadow: 0px 10px 15px 0px #462B83;
	height: 200px;
	width: 360px;
	margin: 0 auto;
}